@use "@material/theme" with (
  $primary: #fedbd0,
  $on-primary: #442c2e
);

h1 {
  margin: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: white;
}

.row {
  display: flex;
}

.column {
  flex: 33.3%;
  padding: 5px;
  outline-offset: -2px;
  justify-content: center;
  display: grid;
}

p.caption {
  text-align: center;
}

.imageBest {
  margin-right: 100px;
  margin-left: 100px;
}


.divButton {
  text-align: center;
  outline: 1px solid black;
  outline-offset: 4px;
  border-radius: 2px;
  :focus-within {
    border: 3px solid black;
  }
}

img {
  height: 200px;
}

.buttonGroup {
  margin-top: 25px;
}

.realButton {
  padding: 1px 15px;
}

footer {
  font-size: small;
  text-align: center;
  padding-top: 65px;
}