.aria-container {
  display: flex
}



span.codeBlock {
 width: fit-content;
 text-align: start;
}

.column {
  flex: 33.3%;
  padding: 5px;
  outline-offset: -2px;
  justify-content: center;
  display: grid;
}